.product-page {
    padding: 20px;
    /* margin: 20px; */
  

  }
  
  .product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 45px 3% 90px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.0),
        0 0  0 2px rgb(245,245,240),
        0.3em 0.3em 1em rgba(0,0,0,0.1);
  border-radius: 15px;
  box-sizing: border-box;
  margin-left: 5%;  
  margin-right: 5%; 

}
  
  .product-item {
    padding: 10px;
    cursor: pointer;
    /* width: 20px; */
    border-radius:20px;
    /* text-align: center; */
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.0),
        0 0  0 2px rgb(245,245,240),
        0.3em 0.3em 1em rgba(0,0,0,0.2);
    font-family:  Arial, sans-serif;


  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius:20px;
    /* border-bottom: 1px solid #ccc;  */

  }
  
  .product-main-price {
    color: red;
    font-weight: bold;
    font-size: 18px;
    font-family:  Arial, sans-serif;
    /* text-align: center; */
  
  }
  
  .product-item button {
    display : grid;
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    font-size: 1.5rem;
    text-align: right;

  }
  
  .product-item button:hover {
    color: #14F6DB; 
    
  }
  
  .prdTitle{
    margin: 10px;
    font-family:  Arial, sans-serif;
    font-size: 20px;
    font-weight: none;

    
  }